
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, img, strike, strong, tt, ul, li, form, button, input,
footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	vertical-align: baseline;
	-webkit-transition: color 1s, border 1s; /* Safari */
  transition: color 1s, border 1s;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 5em;
	font-weight: 700;
}

h2 {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
}

h3 {
	font-size: 1.3em;
}

p {
	font-size: 1.3em;
}

button {
	cursor: pointer;
	-webkit-transition: background-color 1s, border 1s; /* Safari */
  transition: background-color 1s, border 1s;
}

.errors {
	color: red;
}
