.si_main {
  display: flex;
  justify-content: space-around;
  background: #f8f8f8;
}

.si_main h2 {
  margin: 30px 20px 20px 20px;

}

.si_main p {
  margin: 50px 20px 20px 20px;
}

.si_main ul {
  width: 500px;
}

.si_main li {
  height: 50px;
  border: 1px solid #ebebeb;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.si_main p, .si_main h3 {
  font-size: 1em;
}

.si_main button {
  background: inherit;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  -webkit-transition:none; /* Safari */
  transition: none;
}

.si_main button:hover {
  background: white;
  color: #0576b9;
  padding: 5px 20px 5px 20px;
}

.si_form_links {
  margin: 30px 0px 0px 20px;
  border-top: 1px solid #ebebeb;
  /*width: 400px;*/
}

.si_form_links li {
  margin: 0 50px 0 0;

  height: 100px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  padding: 0;
  padding-right: 5px;
  -webkit-transition:padding 0.25s; /* Safari */
  transition: padding 0.25s;
}

.si_form_links li:hover {
  padding-right: 0;
}

.si_form_links img {
  height: 30px;
}

.add_space .welcome_nav {
  border-bottom: 1px solid white;
}
.add_space form {
  margin: auto;
  margin-top: 100px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_space label {
  font-size: 3em;
  align-self: flex-start;
  width: 100%;
}

.add_space input, .add_space textarea {
  box-sizing: border-box;
  border: 1px solid #ababab;
  align-self: flex-start;
  width: 100%;
  margin-top: 30px;
  font-size: 2em;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
}

.add_space textarea {
  outline: none;
  font-size: 2em;
  resize: none;
  min-height: 100px;
}

.add_space button {
  /*width: 30%;*/
  align-self: center;
  font-size: 2em;
  margin-top: 30px;
  border-radius: 5px;
  background: #2ea664;
  font-weight: 400;
  color: white;
  border-bottom: 4px solid #2ea664;
  padding: 0px 20px 0px 20px;
}

.add_space button:hover {
  border-bottom: 4px solid #0e8644;
}
