.show_main {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.space_left_nav {
  width: 220px;
  background: #4d394b;
  color: #ccc;
  height: 100%;
  h3 {
    padding: 15px;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: -10px;
    cursor: pointer;
    i {
      float: right;
    }
    &:hover {
      color: white;
      i {
        color: #ccc;
      }
    }
    i:hover {
      color: white;
    }
  }
  .channel_list li:first-child {
    font-weight: 500;
  }
}

.left_nav_header {
  color: white;
  margin: 0;
  padding: 15px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  &:hover {
    background: #3E313C;
    color: white;
  }
}


.space_left_nav li {
  cursor: pointer;
  padding: 5px 15px;
  i {
    visibility: hidden;
    float: right;
  }
  &:hover {
    background: #3E313C;
  }
  i:hover {
    color: white;
  }
  &:hover i {
    visibility: visible;
  }
}

h4 {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
}

h5 {
  margin-top: 5px;
  font-weight: 300;
  color: #ccc;
  font-size: 1em;
}

.status_circle {
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #38978d;
  background: #38978d;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
}

.active {
  background: #38978d;
  color: #fff;
  &:hover {
    color: #eee !important;
    background: #38978d !important;
  }
  .status_circle {
    background: white;
    border: 1px solid white;
  }
}

.space_header {
  position: absolute;
  top: 0;
  left: 220px;
  right: 0;
  padding: 0 15px;
  height: 60px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    color: black;
  }
  section {
    i {
      font-size: 1.5em;
      margin-right: -5px;
      margin-left: 20px;
    }
  }
}

.user_dropdown {
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  position: absolute;
  left: 5px;
  top: 60px;
  background-color: white;
  z-index: 5;
  color: black;
  max-height: 600px;
  width: 270px;
  h4 {
    color: black;
  }

  .logout {
    display: block;
    font-size: 1em;
    background: white;
    width: 100%;
    border-top: 1px solid #eee;
    margin-top: 5px;
    padding: 5px;
  }

}

.hidden {
  display: none;
}

.messages_wrapper {
  position: relative;
  flex-grow: 1;
}
.right_nav {
  width: 300px;
  height: 100%;
  border-left: 1px solid #eee;
  overflow: scroll;
  li {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin: 0 10px;
    min-height: 60px;
    cursor: pointer;
    h4 {
      display: inline-block;
      font-weight: 400;
      margin-top: 20px;
    }
  }
}

.channel_details {
  margin: 20px;
  font-size: 0.85em;
  h5 {
    font-size: 1.3em;
    font-weight: 400;
  }
  p {
    margin: -5px 5px 20px 5px;
  }
}

.channel_members {

  li {
    &:last-child {
      border: none;
      margin-top: 20px;
    }
    border-bottom: 1px solid #fafafa;
    min-height: auto;
    padding: 10px;
    font-size: 1em;
    cursor: default;
  }

}

.channel_info_button {
  color: #ccc;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 23px;
}

li:hover .channel_info_button {
  color: black;
}

#channel_info_header {
  cursor: default;
  h4 {
    font-weight: 700;
  }
}
