.show_main {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.space_left_nav {
  width: 220px;
  background: #4d394b;
  color: #ccc;
  height: 100%;
  h3 {
    padding: 15px;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: -10px;
    cursor: pointer;
    -webkit-transition: none; /* Safari */
    transition: none;
    i {
      float: right;
    }
    &:hover {
      color: white;
      i {
        color: #ccc;
      }
    }
    i:hover {
      color: white;
    }
  }
}

.left_nav_header {
  color: white;
  margin: 0;
  padding: 15px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  &:hover {
    background: #3E313C;
    color: white;
  }
}


.space_left_nav li {
  cursor: pointer;
  padding: 5px 15px;
  i {
    visibility: hidden;
    float: right;
  }
  &:hover {
    background: #3E313C;
  }
  i:hover {
    color: white;
  }
  &:hover i {
    visibility: visible;
  }
}

h4 {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
}

h5 {
  margin-top: 5px;
  font-weight: 300;
  color: #ccc;
  font-size: 1em;
}

.status_circle {
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #38978d;
  background: #38978d;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
}

.active {
  background: #38978d;
  color: #fff;
  &:hover {
    color: #eee !important;
    background: #38978d !important;
  }
}

.space_header {
  flex-grow: 1;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    color: black;
  }
}
