.welcome_main h1 {
	margin-right: 50px;
}


.welcome_main img {
	margin-top: 40px;
}

.welcome_nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	color: #999999;
	border-bottom: 1px solid #ebebeb;
	font-size: 1em;
	background: white;
}

.welcome_nav ul {
	display: flex;
	align-items: center;
}

.welcome_nav li {
	margin-right: 50px;
	cursor: pointer;
}

.welcome_nav button {
	margin-right: 20px;
	color: inherit;
	cursor: pointer;
	border: 1px solid #999999;
	background: inherit;
	padding: 8px;
	border-radius: 5px;
}

.welcome_nav li:hover {
	color: #3f46ad;
}

.welcome_nav button:hover {
	color: #3f46ad;
	border: 1px solid #3f46ad;
}

.welcome_nav .logo {
	margin-top: 5px;
	margin-left: 50px;
	height: 30px;
}

.welcome_main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome_main p {
	margin-top: 20px;
	margin-right: 50px;
}

.session button, .session input {
	height: 50px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
}

.session button {
	border: 1px solid #3f46ad;
	background: #3f46ad;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.session input {
	width: 30%;
	border: 1px solid #ebebeb;
}

.session input:focus {
	border: 1px solid #3f46ad;
	outline: none;
}

.session button:hover {
	border: 1px solid #0f167d;
	background: #0f167d;
}
